* {
    padding: 0;
    margin: 0;
}

article{
    background-color: rgb(199, 247, 247);
}

nav{
    background-color: rgb(56, 55, 55);
}

.row{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid black;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

